@model CrudDotNet7.ViewModel.CategoryCreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <table>
        <tr>
        <td>
            <label asp-for="Name"></label>
        </td>
        <td>
                <input asp-for="Name" placeholder="Enter product name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
        </td>

        </tr>
        <tr>
            <td>
                <label asp-for="Display"></label>
            </td>
            <td>
                <input asp-for="Display" placeholder="In stock" class="form-control" />
                <span asp-validation-for="Display" class="text-danger"></span>
            </td>

        </tr>
       
        <tr>
            <td>
                <button class="btn btn-success" type="submit">Create</button>
                <a asp-controller="Category" class="btn btn-primary" asp-action="Index">Back to list</a>
            </td>
        </tr>
    </table>
</form>