@model CrudDotNet7.ViewModel.CategoryEditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Create</h1>

<form method="post" asp-action="Edit">
    <table>
        <tr>
        <td>
            <label asp-for="Name"></label>
        </td>
        <td>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

        </td>

        </tr>
        <tr>
            <td>
                <label asp-for="Display"></label>
            </td>
            <td>
                <input asp-for="Display" class="form-control" />
                <span asp-validation-for="Display" class="text-danger"></span>

            </td>

        </tr>
        <tr>
            <td>
                <label asp-for="Brand"></label>
            </td>
            <td>
                <select name="brand">
                    <option value="samsung">Samsung</option>
                    <option value="lg">LG</option>
                    <option value="hp">HP</option>
                </select>
            </td>
        </tr>


        <tr>
            <td>
                <label asp-for="IsFavorite"></label>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" asp-for="IsFavorite" value="false" type="radio" name="IsFavorite" id="No">
                    <label class="form-check-label" for="No">
                        No
                    </label>
                </div>

            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" asp-for="IsFavorite" type="radio" value="true" name="IsFavorite" id="Yes">
                    <label class="form-check-label" for="Yes">
                        Yes
                    </label>
                </div>
            </td>

        <tr>

        <tr>
            <td>
                <label asp-for="IsPacket"></label>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="Available">
                    <label class="form-check-label" for="Available">
                        Available
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="false" id="Not Available">
                    <label class="form-check-label" for="Not Available">
                        Not Available
                    </label>
                </div>

            </td>
        </tr>


        <tr>
            <td>
                <button class="btn btn-primary" type="submit">Update</button>
                <a asp-controller="Category" class="btn btn-success" asp-action="Index">Back to list</a>
            </td>
        </tr>
        
    </table>
</form>