@model IEnumerable<CrudDotNet7.ViewModel.CategoryIndexModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Category Master</h1>

 
<table class="table">
    <thead class="table-striped">
        <tr>
            <td >Category Name</td>
            <td >In Stock</td>
            <td></td>
        </tr>
    </thead>
    @foreach(var obj in Model)
    {
        <tr>
            <td >@obj.Name</td>
            <td >@obj.Display</td>
            <td>
                <a asp-controller="Category" class="btn btn-success" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
                <a asp-controller="Category" class="btn btn-danger" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
            </td>
        </tr>
    }
</table>
<table>
    <tr>
        <td>
            <a asp-controller="Category" class="btn btn-primary" asp-action="Create">Create new Category</a>
        </td>
    </tr>
</table>